
<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="wwwroot/css/styles.css" />
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
<body style="background-color:powderblue;">

  <center>
  <h1>Address Book</h1>

  @foreach(var add in Model)
  {
    <p><strong>Name:</strong> @add.GetName()</p>
    <p><strong>Street:</strong> @add.GetStreet()</p>
    <p><strong>City:</strong> @add.GetCity()</p>
    <p><strong>Zip Code:</strong> @add.GetZip()</p>
    <p><strong>Phone:</strong> @add.GetPhone()</p>
    <hr>
  }

<p><a href="/info/new">Add/Save Contact</a></p>
<form action="/info/delete" method="post">
  <button type="submit" name="button">Clear All Contacts</button>
</form>
</body>
</html>
